<h2><%= link_to "Add a Job", new_job_path %></h2>

  <h1>Active Jobs</h1>

  <h2>Possibilities</h2>
  <p>You haven't applied to any of these positions yet, or started work on applications.</p>
  <% @active_jobs.each do |job| %>
    <ul>
      <% if job.is_status?("possible") %>
      <li><%= link_to job.title, job_path(job) %></li>
      <% end %>
    </ul>
   <% end %>

  <h2>Preparing</h2>
  <p>You're working on applications for these jobs</p>
  <% @active_jobs.each do |job| %>
    <ul>
      <% if job.is_status?("preparing") %>
      <li><%= link_to job.title, job_path(job) %></li>
      <% end %>
    </ul>
  <% end %>

  <h2>Submitted</h2>
  <p>These are the jobs you've applied for.</p>
  <% @active_jobs.each do |job| %>
    <ul>
      <% if job.is_status?("submitted") %>
      <li><%= link_to job.title, job_path(job) %></li>
    <% end %>
    </ul>
  <% end %>


  <h2>Interviewing</h2>
  <p>Interview!!! Amazing.</p>
  <% @active_jobs.each do |job| %>
    <ul>
      <% if job.is_status?("interviewing") %>
      <li><%= link_to job.title, job_path(job) %></li>
    <% end %>
    </ul>
  <% end %>

  <h2>Offers</h2>
  <p>Well done.</p>
  <% @active_jobs.each do |job| %>
    <ul>
      <% if job.is_status?("offered") %>
      <li><%= link_to job.title, job_path(job) %></li>
    <% end %>
    </ul>
  <% end %>

  <h2>Rejections</h2>
  <p>Rejection is tough, but you've got this.</p>
  <% @active_jobs.each do |job| %>
    <ul>
      <% if job.is_status?("rejected") %>
      <li><%= link_to job.title, job_path(job) %></li>
    <% end %>
    </ul>
  <% end %>

  <h2><%= link_to "Archived jobs", archived_path %></h2>