<h2>
  <%= @job.title %><% if @job.archived %> (archived)<% end %>
</h2>
<h3><%= @job.company %></h3>
<h3><a href="<%= @job.source_url %>">Original Listing</a></h3>
<h3>Status: <%= @job.status %></h3>

<h2>Description</h2>
<p><%= @job.description %></p>

<h2>Notes</h2>
<p><%= @job.notes %></p>

<%= button_to "Update Job", edit_job_path(@job), method: 'get' %>