<h2>
  <%= @job.title %> at <%= @job.company %><% if @job.archived %> (archived)<% end %>
</h2>

<h3><a href="<%= @job.source_url %>">Original Listing</a></h3>
<h3>Status: <%= @job.status %></h3>

<h2>Description</h2>
<%= markdown(@job.description) %>

<h2>Notes</h2>
<%= markdown(@job.notes) %>

<%= button_to "Update Job", edit_job_path(@job), method: 'get' %>